@{
    ViewData["Title"] = "Главная";
}

<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p class="lead">Это простой инструмент добавления и изменения отделов, групп и сотрудников.</p>
    <hr class="my-4">
    <p>На текущий момент функционал удаления не реализован.</p>
   
</div>
